<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Palms Cinema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar fixed-top" style="background-color:black;">
        <div class="container">
            <a href="#" class="navbar-brand">Palms Cinema</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-4">
                        <a href="Home-page.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a href="#questons" class="nav-link">Contact Us</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a href="registration-page.html" class="nav-link">Sign Up</a>
                    </li>
                    <li class="nav-item mx-4">
                            <a href="login.html" class="nav-link">Log In</a>
                    </li>
                    <li class="nav-item mx-4">
                            <a href="admin-login-page.html" class="nav-link">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Body-->
    <section class="bg-dark text-light p-5 text-center" style="height:90vh;">
        <div class="container" style="padding-top: 150px;">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div style="margin-top:60px;">
                    <h1>Welcome to <span class="text-danger">
                        Palms Cinema
                    </span></h1>
                    <p class="lead">
                        Palms Cinema strives to provide exceptional service and presentation, great entertainment choices, and competitive prices to the communities we serve.
                    </p>
                </div>
                <img class="img-fluid w-50 d-none d-xl-block" src="Image/hero_slash.png" alt="" style="height:50vh">
                <img class="img-fluid w-50 d-xl-none d-md-block" src="Image/Netflix1.png" alt="">
            </div>   
        </div>
    </section>

    <!-- Movie Partners -->
    <section class="bg-dark" style="height: 10vh; width: 100%;">
            <div class="d-sm-flex justify-content-between" style="display:flex; align-items:center; padding: 5px;">
                <img src="Image/showmax.png" alt="">
                <img src="Image/m-net.png" alt="" >
                <img class="img-fluid d-none d-xl-block" src="Image/originals.png" alt="">
                <img class="img-fluid d-none d-xl-block" src="Image/kyknet.png" alt="">
                <img src="Image/hbo.png" alt="">
                <img class="img-fluid d-none d-xl-block" src="Image/nickelodeon.png" alt="" style="height:25px">
                <img class="img-fluid d-none d-sm-block" src="Image/nick_jr.png" alt="">
                <img class="img-fluid d-none d-xl-block" src="Image/boomerang.png" alt="">
                <img class="img-fluid d-none d-sm-block" src="Image/cartoon_network.png" alt="">
            </div>
    </section>

    <!--Palms sound-->
    <section class="bg-black p-3 text-center pt-5" style="height:170vh d-none d-sm-block">
        <div class="container" style=" margin-top:50px">
            <div class="align-items-center justify-content-between">
                <h1><span class="text-dark" style="font-size: 50px; font-weight: bold;">
                    Palms
                </span>SOUND</h1>
                <h1>HEART-POUNDING AUDIO</h1>
            </div>
        </div>
        <!-- Image -->
        <div class="container">
            <div class="d-sm-flex justify-content-evenly pt-3">
                <div>
                    <img src="Image/pitch_perfect_tuning.gif" alt="">
                    <h4 class="pt-3 text-light">Pitch-Perfect Tuning</h4>
                    <p style="color:#888;;" class="mb-5">Perfectly tuned sound, every time.</p>
                </div>
                <div>
                    <img src="Image/endless_sweet_spot.gif" alt="">
                    <h4 class="pt-3 text-light">Endless Sweet Spot</h4>
                    <p class="mb-5" style="color:#888">There are no bad seats in an Palms Cinema.</p>
                </div>
                <div>
                    <img src="Image/pin_point_accuracy.gif" alt="">
                    <h4 class="pt-3 text-light">Pin-Point Accuracy</h4>
                    <p class="mb-5" style="color:#888">Laser-aligned audio placement.</p>
                </div>
            </div>
            <div class="container">
                <p class="lead text-center" style="color:#d4d4d4; font-size:18px; line-height:25px;">
                    An immense explosion. A whisper heard over your shoulder. The rumbling bass you feel instead of hear. The combination of our perfectly tuned integrated sound system and our precise speaker orientation ensures you can hear a pin drop and be able to tell exactly where it landed. Every note of the soundtrack and every scuff of a shoe is clearer in Palms Cinema, with a complete overhaul of each movie’s audio overseen by the film’s director. All of this pristine sound is then pumped into the cinema that has been customized for an optimal experience.
                </p>
            </div>
        </div>
    </section>

    <!--Palms image-->
    <section class="bg-black text-center p-5" style="height:170vh d-none d-sm-block">
        <div class="container" style=" margin-top:80px">
            <div>
                <div class="align-items-center justify-content-between">
                    <h1><span class="text-dark" style="font-size: 50px; font-weight: bold;">
                    Palms</span>
                    IMAGE</h1>
                    <h1>MOVING PICTURES</h1>
                </div>
            </div>
    <!--image-->
            <div class="d-sm-flex justify-content-evenly pt-3">
                <div>
                    <img src="Image/heightened_realism.gif" alt="">
                    <h4 class="text-light pt-3">Dual Projection</h4>
                    <p style="color:#888; letter-spacing:-1.4px;" class="mb-5">Unparalleled brightness and brilliant clarity.</p>
                </div>
                <div class="">
                    <img src="Image/highest_resolution.gif" alt="">
                    <h4 class="text-light pt-3" style="letter-spacing:-1.7px;">Highest Resolution</h4>
                    <p style="color:#888;" class="mb-5">Standard-setting clarity.</p>
                </div>
                <div>
                    <img src="Image/highest_quality_3D.gif" alt="">
                    <h4 class="text-light pt-3">Highest Quality 3D</h4>
                    <p style="color:#888" class="mb-5">Hyper-lifelike dimensionality.</p>
                </div>
            </div>

            <p class="lead text-center" style="color:#d4d4d4; font-size:18px; line-height:25px;">
                    Clarity, detail and size make Palms Cinema more than a cinema. Our remastering process fully transforms every frame of a film to produce the best possible version of a filmmaker’s vision. Two projectors run simultaneously to provide the perfect image with a balance of warmth and sharpness. Palms Cinema draws you into something as close to reality as you have ever experienced.
            </p>
        </div>
    </section>

    <!--Palms experience-->
    <section class="bg-black text-center p-5">
        <div class="container" style=" margin-top:50px">
            <div class="align-items-center justify-content-between">
                <h1><span class="text-dark" style="font-size: 50px; font-weight: bold;">Palms</span> THEATRE</h1>
                <h1>IMMERSIVE EXPERIENCES</h1>
            </div>
            <!--image-->
            <div class="d-sm-flex justify-content-evenly pt-3">
                <div>
                    <img src="Image/heightened_realism.gif" alt="">
                    <h4 class="text-light ">Heightened Realism</h4>
                    <p style="color:#888" class="mb-5">Custom, reflective screens are extra bright.</p>
                </div>
                <div>
                    <img src="Image/quality_and_consistency.gif" alt="">
                    <h4 class="text-light">Quality & Consistency</h4>
                    <p style="color:#888" class="mb-5">Custom-designed & built.</p>
                </div>
                <div>
                    <img src="Image/picture_perfect.gif" alt="">
                    <h4 class="text-light">Picture Perfect</h4>
                    <p style="color:#888" class="mb-5">Real-time system adjustments</p>
                </div>
            </div>

            <p class="lead text-center" style="color:#d4d4d4; font-size:18px;line-height:25px;">
                Movies are watched. But seeing a movie at Palms® Cinema is so much more. That’s what we call The Palms Experience®. Every element in our Cinema is planned,designed and positioned with exacting standards to create the most intense experience. This science is our Cinema geometry, and it ensures movie magic every time the lights go down.
            </p>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
</body>
</html>