<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Palms Cinema</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
<body>
<div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="assets/images/faces/face17.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Aluko Oluwapamilerin</h5>
                  <span>Admin</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a onclick="logout()" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-logout text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Log out</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="admin.html">
                <span class="menu-icon">
                    <i class="bi bi-house"></i>
                  </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="customer-list.html">
              <span class="menu-icon">
                <i class="bi bi-list-check"></i>
              </span>
              <span class="menu-title">Customer list</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="staff-list.html">
              <span class="menu-icon">
                <i class="bi bi-list-ul"></i>
              </span>
              <span class="menu-title">Staff list</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="message.html">
              <span class="menu-icon">
                <i class="bi bi-envelope-open"></i>
              </span>
              <span class="menu-title">Message</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="chair.html">
              <span class="menu-icon">
                <i class="bi bi-sort-up"></i>
              </span>
              <span class="menu-title">Arrange Chair</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-icon">
                    <i class="bi bi-shield-check"></i>
                  </span>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="admin-login-page.html">Admin login</a></li>
                <li class="nav-item"> <a class="nav-link" href="admin-reg-page.html"> Admin registration</a></li>
                <li class="nav-item"> <a class="nav-link" href="login.html"> Login page </a></li>
                <li class="nav-item"> <a class="nav-link" href="registration-page.html"> Registration page </a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
          <!-- <div class="container-fluid page-body-wrapper">
            <nav class="navbar p-0 fixed-top d-flex flex-row">
              <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
              </div>
              <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                  <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav w-100">
                  <li class="nav-item w-100">
                    <form class="nav-link mt-2 mt-md-0 d-md-flex search">
                      <input type="text" class="form-control" id="myInput" placeholder="Search">
                    </form>
                  </li>
                  <li class="nav-item">
                      <a href="index.html" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item" style="margin: 0px 30px;">
                      <a href="Hall.html" class="nav-link">Hall</a>
                  </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                  <li class="nav-item dropdown d-none d-lg-block">
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                    </div>
                  <li class="nav-item dropdown">
                    <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                      <div class="navbar-profile">
                        <img class="img-xs rounded-circle" src="assets/images/faces/face17.jpg" alt="">
                        <p class="mb-0 d-none d-sm-block navbar-profile-name">Aluko Oluwapamilerin</p>
                        <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                      </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                      <h6 class="p-3 mb-0">Profile</h6>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                          <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-settings text-success"></i>
                          </div>
                        </div>
                        <div class="preview-item-content">
                          <p class="preview-subject mb-1">Settings</p>
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item" onclick="logout()">
                        <div class="preview-thumbnail">
                          <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-logout text-danger"></i>
                          </div>
                        </div>
                        <div class="preview-item-content">
                          <p class="preview-subject mb-1">Log out</p>
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <p class="p-3 mb-0 text-center">Advanced settings</p>
                    </div>
                  </li>
                </ul> 
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                  <span class="mdi mdi-format-line-spacing"></span>
                </button>
              </div>   -->

    <!-- // STAFF-LIST -->
    <div class="card" style=" width: 100%; border: none;">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="card-title my-2 lead">Staff-list <i class="bi bi-person h3"></i></h4>
          <input type="text" class="form-control w-50" id="myInput" placeholder="Search">
        </div>
        <div class="table-responsive text-center" style="margin: auto;">
          <table align="center" style="margin-top: 2vh;">
            <tr>
                <td>Firstname:</td>
                <td><input type="text" id="firstname" style="background:transparent; color:white;;" class="form-control px-3"></td>
                <td>Lastname:</td>
                <td><input type="text" id="lastname" style="background:transparent; color:white;;" class="form-control px-3"></td>
                <td>Position:</td>
                <td><input type="text" id="post" style="background:transparent; color:white;;" class="form-control px-3"></td>
                <td colspan="2" align="center"><button id="demo"  class="btn btn-button bg-danger mx-4"><span onclick="store()">Submit</span></button></td>
            </tr>
          </table>    
            <table border="1" width="90%"; align="center"  style="margin-top: 2vh;">
                <tr class="text-center">
                    <td>S/N</td>
                    <td>Firstname</td>
                    <td>Lastname</td>
                    <td>Position</td>
                    <td>Delete</td>
                    <td>Update</td>
                </tr>
                
                <tbody id="2" class="text-center">
    
                </tbody>
            </table>
        </div>
      </div>
    </div>

    <script>
       var c = "";
       firstname.focus();
            if(localStorage.staffInfo){
                users = localStorage.getItem("staffInfo");
                staff = JSON.parse(users);
                for (i = 0; i < staff.length; i++) {
                    c += "<tr><td>" + `${i+1}` + "</td><td>" + staff[i].fName+ "</td><td>" +staff[i].lName+"</td><td>"+ staff[i].position+" </td><td>"+'<button onclick="deletestaff('+i+')"class="btn btn bg-light p-3"><img src="Image/trash.svg" alt="" style="width:20px; height:20px;"></button> ' + "</td><td>" + '<button class="btn btn-button bg-success bi bi-pencil-square p-3" onclick="edit('+i+')"></button>' + "</td></tr>";
                }
                document.getElementById('2').innerHTML = c;
            }
        var arr = [];
        arr = localStorage.staffInfo ? JSON.parse(localStorage.staffInfo) : arr=[]
        store=()=>{
            var obj = {
                fName:firstname.value,
                lName:lastname.value,
                position:post.value,
            }
            arr.push(obj)
           if (firstname.value&&lastname.value&&post.value){
            localStorage.staffInfo = JSON.stringify(arr);
           }
            firstname.value= "";
            lastname.value= "";
            post.value= "";

            var c = "";
            if(localStorage.staffInfo){
                users = localStorage.getItem("staffInfo");
                staff = JSON.parse(users);
                for (i = 0; i < staff.length; i++) {
               
                    c += "<tr><td>" + `${i+1}` + "</td><td>" + staff[i].fName+ "</td><td>" +staff[i].lName+"</td><td>"+ staff[i].position+" </td><td>"+'<button class="btn btn bg-light">X</button> ' + "</td><td>" + '<button onclick="edit('+i+')" button class="btn btn bg-light">i</button>' + "</td></tr>";
                }
                document.getElementById('2').innerHTML = c;
                location.reload();
            }
        }

                // <!-- this is the function for delete -->
                deletestaff=(e)=>{
                  if(confirm("Are you sure?")){
                    let oldStaff = localStorage.getItem('staffInfo');
                    let newStaff= JSON.parse(oldStaff);
                    newStaff.splice(e,1);
                    localStorage.setItem('staffInfo', JSON.stringify(newStaff));
                    }
                    location.reload()
                    firstname.focus();
                }
                
                // <!-- this is the function for update -->
                edit=(cus)=>{
                  users = localStorage.getItem("staffInfo");
                  demo.innerHTML='<span onclick="editcus('+cus+')"> Edit</span>'
                  let conv = JSON.parse(users)
                  firstname.value=conv[cus].fName;
                  lastname.value=conv[cus].lName;
                  post.value=conv[cus].position;
                  firstname.focus();
                }
                editcus=(pami)=> {
                  users = localStorage.getItem("staffInfo");
                  let conv = JSON.parse(users);
                  conv[pami].fName= firstname.value
                  conv[pami].lName= lastname.value
                  conv[pami].position= post.value
                  localStorage.setItem('staffInfo', JSON.stringify(conv))
                  location.reload();
                }
                // this is the function for logout
                logout=()=>{
                if(confirm("Are you sure?")){
                  window.open('admin-login-page.html')
                }
              } 

              $(document).ready(function(){
              $("#myInput").on("keyup", function() {
              var value = $(this).val().toLowerCase();
              $("#2 tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
              });
              });
      </script>

      
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <script src="assets/js/dashboard.js"></script>
</body>
