*{
    background-image: url(Hallsit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 30px;
    background: transparent;
    color: #c5cbd3;
}
img{
    height: 50px;
    background: transparent;
    margin-left: -10px;
}
#firsttext{
    display: flex;
    justify-content: center;
    background: transparent;
}
#login{
    margin: 0px 590px;
    padding-left: 10px;
    background: transparent;
    border: solid white;
    border-radius: 10px;
    height: 320px;
    width: 320px;
    top: 200px;
    position: relative;
}
p{
    background: transparent;
    font-size: 5px;
    color: white;
}
#uname{
    width: 200px;
    margin-bottom: 50px;
    margin-top: 20px;
    background: transparent;
}
#pword{
    width: 204px;
    background: transparent;
}
input{
    background: transparent;
    color: white;
}
label{
    background: transparent;
    color: white;
}
button{
    margin-left: 120px;
    margin-top: 60px;
    background: transparent;
    color: white;
}
